.wrapper {
  display: flex;
  flex-direction: column;
  height: fit-content;
  max-height: 80vh;
  flex: 1;
  transition: 0.3ms ease-in-out;
}
.kanban-column {
  padding: 18px;
  background: #fff;
  border-radius: 15px 15px 0px 0px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto !important;
}
.border-color {
  position: absolute;
  min-width: 64px;
  border-radius: 5px;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
}
.column-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.column-title__text {
  display: flex;
  align-items: center;
  gap: 8px;
}
.title {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
}
.item-length {
  background-color: #e8e9eb;
  height: 19px;
  width: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  font-size: 10px;
}
.droppable-space {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.button-wrapper {
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-radius: 0px 0px 15px 15px;
  padding: 16px 0px;
}
