.item-wrapper {
  padding: 23px 17px;
  border: 1px solid #e8e9eb;
  border-radius: 15px;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.title-and-deadline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.deadline {
  display: flex;
  align-items: center;
  gap: 8px;
}
.title {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}
.checklist {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.checklist__count {
  display: flex;
  justify-content: space-between;
}
.checklist-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.checklist-item {
  min-height: 40px;
  background: #f8f8f8;
  border-radius: 15px;
  padding: 10px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.checked {
  text-decoration: line-through;
}
.button-dropdown {
  display: flex;
  justify-content: center;
}
.buttons-and-responsible {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.button-wrapper {
  display: flex;
  gap: 23px;
}
.icon-button {
  align-items: center;
  gap: 5px;
}
