.item-wrapper {
  padding: 23px 17px;
  border: 1px solid #e8e9eb;
  border-radius: 15px;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.title-and-deadline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.title-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}
.deadline {
  display: flex;
  align-items: center;
  gap: 8px;
}
.deadline-passed {
  padding: 5px 11px;
  border-radius: 10px;
  color: "#3F434A";
  width: fit-content;
  background-color: #fff5ef;
  color: #e56e19;
}
.title {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}
.checklist {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.checklist__count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.checklist-form-button {
  display: flex;
  align-items: center;
  gap: 4px;
}
.checklist-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.button-dropdown {
  display: flex;
  justify-content: center;
}
.button-section {
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: flex-end;
}
